# EditorConfig is awesome: https://editorconfig.org

# Указываем, что это корневой файл конфигурации
root = true

# Настройки по умолчанию для всех файлов
[*]
max_line_length = 80
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

# Исключение для Python: отступ 4 пробела
[*.py]
indent_size = 4

# Исключение для Go: использовать табы
[*.go]
indent_style = tab

# Markdown: не обрезаем пробелы в конце строк
[*.md]
trim_trailing_whitespace = false
