[MASTER]
# Максимальная длина строки
max-line-length=80

# Путь к файлам, которые нужно игнорировать
ignore=migrations

# Дополнительные директории, которые игнорируются
ignore-patterns=__pycache__,migrations

[MESSAGES CONTROL]
# Отключение раздражающих проверок
disable=
    C0103,  # Не соответствует соглашению именования (например, переменные типа x, y)
    C0114,  # Модуль без docstring
    C0115,  # Класс без docstring
    C0116,  # Функция/метод без docstring
    C0301,  # Строка слишком длинная
    C0330,  # Неправильное выравнивание продолжений строк
    C0413,  # Неправильное расположение импортов
    R0801,  # Дублирующийся код
    R0903,  # Класс слишком прост (например, класс с одним методом)
    R0913,  # Слишком много аргументов у функции
    R0914,  # Слишком много локальных переменных
    R0915,  # Слишком большая функция
    W0105,  # Неиспользуемый docstring
    W0511,  # Комментарий TODO
    W0611,  # Неиспользуемый импорт
    W0613,  # Неиспользуемый аргумент функции
    W0614,  # Неиспользуемый импорт из *
    W0621,  # Переопределена внешняя переменная
    W0703,  # "Голое" исключение (catch-all except)
    W1203,  # Использование f-строк при логгировании
    W1514,  # Не задана кодировка
    W3101,  # Не указан timeout при запросе в requests

[FORMAT]
# Число пробелов в табуляции
indent-string='    '  # 4 пробела

# Максимальная длина строки
max-line-length=80

[DESIGN]
# Максимальное количество аргументов для функции
max-args=5

[TYPECHECK]
# Настройка путей для поиска модулей
init-import=no
