[general]
live_config_reload = true

# git clone https://github.com/alacritty/alacritty-theme
import = [
  #"~/.config/alacritty/themes/themes/gruvbox_material.toml",
  #"~/.config/alacritty/themes/themes/everforest_dark.toml",
  "~/.config/alacritty/themes/themes/tokyo_night_storm.toml",
]

[window]
dimensions = {columns = 110, lines = 30 }
padding = { x = 0, y = 0 }
dynamic_padding = true
opacity = 0.95
blur = true

[cursor]
style = { shape = "Beam", blinking = "On" }
blink_interval = 500

[font]
size = 11.5

[font.normal]
family = "JetBrainsMono NF"

[selection]
save_to_clipboard = true

[mouse]
hide_when_typing = true

[keyboard]
bindings = [
  # Конфликтует с zellij
  { key = "F", mods = "Control|Shift", action = "ReceiveChar" },
  # Переназначил старое сочетания Ctrl-Shift-F на это
  { key = "S", mods = "Control|Shift", action = "SearchForward" },
]
