# Посмотреть текущие настройки LSP можно вызвав `hx --health <lang>`
# Недостающий сервер можно поставить через `pacman` либо `npm install -g`

# [[language]]
# name = ""
# indent = { tab-width = 2, unit = "  " }

[[language]]
name = "python"
# uv tool install basedpyright
# ! игнорировать сервер
# можно перечислить несколь
language-servers = [ "!ty", "basedpyright" ]
# sudo pacman -S ruff
formatter = { command = "ruff", args = ["format", "-"] }
# Не наследуется от editor.auto-save... всегда нужно указывать
auto-format = true

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.basedpyright.config]
basedpyright.analysis.diagnosticMode = "openFilesOnly"

[language-server.basedpyright.config.python.analysis]
# Отключает строгую проверку типов
typeCheckingMode = "basic"
# Дополнительно подавляем специфические уведомления, если они останутся
# reportOptionalSubscript = "none"
# reportOptionalMemberAccess = "none"
# reportGeneralTypeIssues = "none"

[[language]]
name = "javascript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "babel"] }

[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

# [language-server.eslint]
# command = "eslint-language-server"
# args = ["--stdio"]

[[language]]
name = "javascript"
language-servers = [
  "typescript-language-server", # optional
  "vscode-eslint-language-server", # Содержится в пакете eslint-language-server
]

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "bash"
auto-format = true
formatter = { command = "shfmt", args = ["-i", "2", "-ci", "-bn"] }

[language-server.phpactor]
command = "phpactor"
args = ["language-server"]

[[language]]
name = "php"
scope = "source.php"
injection-regex = "php"
file-types = ["php", "inc", "php4", "php5", "phtml", "ctp"]
shebangs = ["php"]
roots = ["composer.json", "index.php"]
comment-token = "//"
language-servers = [ "phpactor" ]
indent = { tab-width = 4, unit = "    " }
